html {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: start;
}

aside {
    background-color: lightblue;
    height: 90vh;
}

main {
    margin-left: 20px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

#todo-container {
    background-color: teal;
}

.todo {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
    padding: 10px;
    background-color: lightcoral;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
}

.todo > div {
    display: flex;
    margin-left: 10px;
}

#addProject {
    display: none;
}

button:active, button:focus {
    outline: none;
}

.plusButton, .crossButton {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: solid 1px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.plusButton {
    background-color: green;
    transform: rotate(0);
}

.crossButton {
    background-color: red;
    transform: rotate(45deg);
}